
.naslov {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.nav-link {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.0em;
}

.nav-link:active {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.0em;
    background-color: rgb(248, 152, 7);
}

.naslovna {
    background: linear-gradient(90deg, rgb(247, 255, 239) 0%, rgb(248, 186, 115) 35%, rgb(248, 152, 7) 100%);
    /*
    background-color: rgb(247, 255, 239);*/
}

main {
    background-color: rgb(247, 255, 239);
    /*
    background-color: rgb(247, 239, 225); */
}

.content {
    background-color: white;
}
.container {
    padding: 0%;
}

.jumbotron {
    margin-top: 20px;
    background: white;
    border-top: 10px solid rgb(248, 152, 7);
    border-bottom: 10px solid rgb(248, 152, 7);
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 0%;
}

.btn-primary {
    background-color: rgb(248, 186, 115);
    border: 1px solid rgb(248, 186, 115);
}

.btn-primary:hover {
    background-color: rgb(248, 152, 7);
    border: 1px solid rgb(248, 186, 115);
}

.nav-link:hover {
    background-color:rgb(247, 255, 239)!important;
    border-radius: 10px;
}
.navbar-nav a.active {
    background-color:rgb(247, 255, 239)!important;
    border-radius: 10px;
}    

.nav-link {
    margin-right: 20px;
    color: black!important;
    margin: 5px;
}  

.navbar-nav {
    position: absolute;
    bottom:0;
    right:0;
}

.navbar-brand > img {
    width: 300px;
}

.carousel {
    padding-bottom: 10px;
}

.card-img-top:hover {
    opacity: 1;
}

@media only screen and (max-width: 1200px) {
    .card-img-top {
        opacity: 0.5;
        height: 200px!important;
    }
    .card {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .card {
        margin-left: 70px;
        margin-right: 70px;
        margin-bottom: 30px;
    }
}

.card-img-top {
    opacity: 0.5;
    height: 250px;
    
}

/* Standard syntax */
@keyframes example {
    from {visibility: hidden;}
    to {visibility: visible;}
}

footer {
    height: 100px;
    background: linear-gradient(90deg, rgb(247, 255, 239) 0%, rgb(248, 186, 115) 35%, rgb(248, 152, 7) 100%);
    text-align: center;
    padding-top: 35px;
}

.btn-outline-secondary {
    color: rgb(248, 152, 7);
    border-color: rgb(248, 152, 7);
}

.btn-outline-secondary:hover {
    background-color: rgb(248, 152, 7);
    border-color: rgb(248, 152, 7);
}

.card {
    border-color: rgb(248, 152, 7);
    
}

.row {
    padding-left: 20px;
    padding-right: 20px;
    animation-name: example;
    animation-duration: 4s;
}
